<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HeeZJee | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>HeeZJee</h1>
          <p>Keep Moving Forward</p>
        </a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate enim
        hic omnis, corrupti natus deserunt totam quae officia quos impedit.
        Delectus nobis distinctio nam eligendi quas ipsum totam sapiente unde!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate enim
        hic omnis, corrupti natus deserunt totam quae officia quos impedit.
        Delectus nobis distinctio nam eligendi quas ipsum totam sapiente unde!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate enim
        hic omnis, corrupti natus deserunt totam quae officia quos impedit.
        Delectus nobis distinctio nam eligendi quas ipsum totam sapiente unde!
      </p>
    </div>
  </body>
</html>
